body{
    background-color: #BBE1FA;
    color: #272343;
    font-family: 'DM Sans', sans-serif;
}

.navbar-brand{
    color: #2d3092 !important;
    padding: 5px 15px;
    font-family: 'Cairo', sans-serif !important;
    font-size: 1.5rem;
    font-weight:600;
}