body{
    background-color: #eceff1;
    color: #272343;
    font-family: 'DM Sans', sans-serif;
}

h4{
    padding-top: 4rem;
    text-align: center;
}

.course-body{
    width: 60%;
    margin: 0 auto;
}